<% include ../partials/header %>
<div class="container">
        <h2 style="text-align:center;">Edit Comments on <%=campground.name %></h2>
        <div style="width:40%; margin: 0 auto;">
            <form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea name="comment[text]" id="text" cols="30" rows="10" class="form-control"><%=comment.text%></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>   
</div>

<% include ../partials/footer %>